{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": [2, "never"],
    "quotes": [2, "single"]
  },
  "globals": {
    "__DEV__": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ]
}
